<div class="container-fluid">
  <p class="h3 p-3">{{ naveDetail.nombre }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ naveDetail.imagen }}"
          alt="{{ naveDetail.nombre }}"
        />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt>Nombre</dt>
        <dd>{{ naveDetail.nombre }}</dd>
        <hr />
        <dt>fabricante</dt>
        <dd>{{ naveDetail.empresa_fabricacion }}</dd>
        <hr />
        <dt class="bold">Raza de origen</dt>
        <dd >{{ naveDetail.raza_origen }}</dd>
        <hr />
        <dt class="bold">costo</dt>
        <dd>{{ naveDetail.costo }}</dd>
      </dl>
    </div>
  </div>
 </div>